<!--Put your HTML elements here (don't need to put <head> or <body> here. That is set in layout.hbs-->
<h1>Hyrule Compendium</h1>
<div id="controls">
    <select id="categorySelector">
        <option value="creatures">Creatures</option>
        <option value="monsters">Monsters</option>
        <option value="materials">Materials</option>
        <option value="equipment">Equipment</option>
        <option value="treasure">Treasure</option>
    </select>
    <button onclick="">Load Data</button>
</div>

<div id="compendium"></div>